<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Bienvenido a Frikr {% endblock %}</title>
    <!--<link rel="stylesheet" href="{% static '/css/materialize.min.css' %}">-->
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
</head>
<body>

    <nav>
        <div class="nav-wrapper blue-grey darken-3">
            <a href="{% url 'photos_home' %}" class="brand-logo">Frikr</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'photos_home' %}">Inicio</a></li>
                <li><a href="{% url 'photos_list' %}">Fotos</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'user_photos' %}">Mis fotos</a></li>
                    <li><a href="{% url 'create_photo' %}">Crear Foto</a></li>
                    <li><a href="{% url 'users_logout' %}">Salir</a></li>
                {% else %}
                    <li><a href="{% url 'users_login' %}" >Entrar</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>


    <section>
        {% block section %} {% endblock %}
    </section>
    <br />

    <footer>
        <small>Frikr Inc &copy;</small>
    </footer>

</body>
</html>